<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--
      <add name="SQLConnectionString" connectionString="Data Source=10.16.12.48\SQLEXPRESS,1433;Initial Catalog=CoreworxMigrationDB;Integrated Security=False;User ID=sa;Password=P@$$w0rd100" providerName="System.Data.SqlClient"/>
    -->
    <add name="SQLConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=CoreworxMigrationDB;Integrated Security=False;User ID=sa;Password=P@$$w0rd100" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms timeout="50"/>
    </authentication>
    <sessionState timeout="60"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>